<div nz-col nzSpan="6" class = "r1">
  <a
    nz-popconfirm
    nzPopconfirmTitle="Are you sure to run test KMP?"
    nzOkText="Ok"
    nzCancelText="Cancel"
    (nzOnConfirm)="run_test_KMP()"
    (nzOnCancel)="Cancel()"
  >Run test kmp</a>
</div>
<br>
<br>
<div nz-col nzSpan="6" class = "r2">
  <a
    nz-popconfirm
    nzPopconfirmTitle="Are you sure to run test regex?"
    nzOkText="Ok"
    nzCancelText="Cancel"
    (nzOnConfirm)="run_test_regex()"
    (nzOnCancel)="Cancel()"
  >Run test regex</a>
</div>
<br>
<br>
<div nz-col nzSpan="6" class = "r3">
  <a
    nz-popconfirm
    nzPopconfirmTitle="Are you sure to run test KMPC?"
    nzOkText="Ok"
    nzCancelText="Cancel"
    (nzOnConfirm)="run_test_KMPC()"
    (nzOnCancel)="Cancel()"
  >Run test KMPC</a>
</div>
<br>
<br>

<div nz-col nzSpan="6" class = "r4">
  <a
    nz-popconfirm
    nzPopconfirmTitle="Are you sure to run test RegexC?"
    nzOkText="Ok"
    nzCancelText="Cancel"
    (nzOnConfirm)="run_test_regexC()"
    (nzOnCancel)="Cancel()"
  >Run test regexC</a>
</div>
<br>
<br>
<div nz-col nzSpan="6" class = "r5">
  <a
    nz-popconfirm
    nzPopconfirmTitle="Are you sure to run test Neighbor?"
    nzOkText="Ok"
    nzCancelText="Cancel"
    (nzOnConfirm)="run_test_neighbor()"
    (nzOnCancel)="Cancel()"
  >Run test neighbor</a>
</div>
<br>
<br>
<div nz-col nzSpan="6" class = "r5">
  <a
    nz-popconfirm
    nzPopconfirmTitle="Are you sure to run test id?"
    nzOkText="Ok"
    nzCancelText="Cancel"
    (nzOnConfirm)="run_test_id()"
    (nzOnCancel)="Cancel()"
  >Run test id</a>
</div>
